---
---

@import "{{ site.theme }}";
.author__avatar img {
    padding: 0px !important;
    border: 0px !important;
    max-width: 280px !important;
}

.page__content {
    text-align: justify !important;
}