@import "{{ site.theme }}";
.author__avatar img {
    padding: 0 !important;
    border: 0 !important;
    max-width: 280px !important;
}

.page__content {
    text-align: justify !important;
    font-size: 18px !important;
}

.person_name {
    font-size: 18px;
    font-weight: bold;
}

.person_designation {
    font-size: 14px;
    font-style: italic;
}

.person_affiliation {
    font-size: 16px;
    font-weight: 500;
}

.person_webpage {
    font-size: 14px;
    text-decoration-line: none;
}

.person_research {
    font-size: 15px;
}

.person_areas {
    font-weight: 300;
}

#person_details {
    display: none;
}

.reveal_detail {
    font-size: 14px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-group {
  display: inline-block;
  margin-right: 30px; /* Space between filter groups */
}

.filter-group strong {
  display: block;  /* Make sure the "Affiliation" and "Location" labels are on their own line */
  margin-bottom: 10px;
}

.filter-container label {
  display: inline-block; /* Display labels in a row */
  margin-right: 20px; /* Space between the checkboxes */
  font-size: 16px;
}

.filter-container input[type="checkbox"] {
  margin-right: 5px; /* Space between the checkbox and label text */
}
